/* Enter your custom styles here */

.header {
	font-size:6vw;
}
.underline {
	text-decoration: underline;
}
.fontPara {
	font-size: 4vw;
	color: gray;
}

.fontSize {
	font-size: 4vw;
}

.fontH1 {
	font-size: 8vw;
	color: darkblue;
	font-weight: bold;
}
.footer {
	padding: none;
	margin: none;
	padding-bottom: 1em;
	height: 6rem;
}
.menuButton .sapMBtnInner {
    height: 4rem; /* Increase it to 6rem */
	padding: none;
	margin: none;
}
.menuButton .sapMBtnText>.sapMBtnIcon {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: center;
   line-height: 3.8rem; /* Add this line when you are using height as 6rem */
	padding: none;
	margin: none;
}
.menuButton .sapMBtnInner.sapMBtnText {
    padding: 0.75rem;
    font-size: .75em;
	padding: none;
	margin: none;
	padding-left: .5em;
}    
.menuButton .sapMBtnIcon { 
   font-size: 2rem;   /* Icon size */
	padding: none;
	margin: none;
}
.menuButton .sapMBtnContent {
    line-height: 4rem;
	padding: none;
	margin: none;
}
.myOverview .sapMBtnInner.sapMBtnText {
	padding-left: .5em;
}
.myItems .sapMBtnInner.sapMBtnText {
	padding-left: 1em;
}
.myAlert .sapMBtnInner.sapMBtnText {
	padding-left: 1.25em;
}
.mySort .sapMBtnInner.sapMBtnText {
	padding-left: 1em;
}
.myPlaceholder .sapMBtnInner.sapMBtnText {
	padding-left: .65em;
}
.try {
	padding-bottom: 2em;
}
.card {
	width: 80vw;
	height: 30vh;
	border: 1px solid black;
	background-color: #dce3e8;
	border-radius: 5px;
	padding: 1em;
}

.title {
	font-weight: bold;
}

.content {
}